# Configuración de Seguridad Flask
SECRET_KEY=tu_clave_secreta_aqui_para_desarrollo

# Configuración de la Base de Datos
# NOTA: Usar 'localhost' para ejecución local sin Docker. Usar 'db' si se levanta con docker-compose.
DB_HOST=db 
DB_PORT=5432
DB_NAME=BDhotel
DB_USER=postgres
DB_PASSWORD=root_password_ejemplo

# Configuración de Sesiones y Seguridad
MAX_LOGIN_ATTEMPTS=5
SESSION_TIMEOUT=3600